node_modules
.dist
coverage
.vscode
.wrangler
.dev.vars
.DS_Store
*.tsbuildinfo
apps/*/.wrangler
apps/*/dist
packages/*/dist
apps/**/src/**/*.js
apps/**/src/**/*.d.ts
apps/web/app/routes/**/*.js
apps/web/app/routes/**/*.d.ts
apps/web/app/server.js
apps/web/app/server.d.ts
apps/web/vite.config.js
apps/web/vite.config.d.ts
packages/**/src/**/*.js
packages/**/src/**/*.d.ts
